{% extends 'base.html' %}
{% block title %} Register {% endblock %}
{% block body %}
<form action="/register" method="post">
<p>name: <input name="fullName" required></p>
 <p>email: <input name="emailID" type="email" required></p>
 <p>password: <input name="passwd" type="password" required></p>
<p><input type="submit" value="Register"></p>
</form>
{% with messages= get_flashed_messages() %}{% for message in messages %}

 Already reistered? try <a href ="{{ url_for('loginPage') }}" >LOGIN </a> here.</h3>{% endfor %}{% endwith %}
{% endblock %}